
.container_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.container_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 10% 2% 25%;
}
.container_columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    text-align: center;
    font-size: 0.9em;
}
.container_columns img{
    width: 70%;
    align-content: center;
    justify-content: center;
    padding: 0 10% 10% 10%;
}
.padding_down{
    padding: 0 20% 5% 20%;
}
header{
    background-color: black;
    color: wheat;
    padding: 4% 0 5% 0;
    text-align: center;
}
.street_txt{
    font-size: 0.6em;
    flex-shrink: 2;
    text-align: center;    
}
.street_img{
    padding: 0 0 0 5%;
}
.street_img img{
    width: 50%;
}
.be_small{
    width: 175%;
}
